.container{
    width: 45%;
    min-width: 450px;
    background-color: rgb(238, 152, 83);
    padding: 50px 30px;
position: absolute;
transform: translate(-50%,-50%);
left: 50%;
TOP: 25%;

border-radius: 8px;
box-shadow: 15px 20px 25px rgba(235, 252, 4, 0.897);
}